.home-header{
    .index-head{
        position:fixed;
        display: flex;
        width: 100%;
        height: 50px;
        color: #fff;
        padding: 0 10px;
        line-height: 50px;
        background: #f63;
        box-sizing: border-box;
        .city{
            position: relative;
            max-width: 60px;
            padding-right: 17px;
            display:block;
            color: #fff;
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:after{
                content: '';
                width: 8px;
                height: 8px;
                border-style: solid;
                border-color: #fff;
                border-width: 1px 1px 0 0;
                display:block;
                transform: rotate(135deg);
                position: absolute;
                right: 2px;
                top: 50%;
                margin-top: -8px;
            }
        }
        .search{
            flex: 1;
            position: relative;
            margin: 9px 6px 9px 10px;
            padding-left: 30px;
            height: 30px;
            line-height: 32px;
            border-radius: 25px;
            background: #fff;
            font-size: 13px;
            color: #b8b8b8;
            &:before,&:after{
                content:'';
                position:absolute;
                display: block;
            }
            &:before{
                width: 8px;
                height: 8px;
                border: 1px solid #888;
                border-radius: 11px;
                left: 12px;
                bottom: 11px;
            }
            &:after{
                border-top: 1px solid #888;
                width: 5px;
                height: 0;
                left: 20px;
                bottom: 10px;
                transform: rotate(45deg);
            }
        }
        .self{
            display:block;
            width: 28px;
            height: 100%;
            .selfOutLine{
                width: 22px;
                height: 22px;
                border: 1px solid #fff;
                border-radius: 50%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                overflow: hidden;
                &:before{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    display:block;
                    position: absolute;
                    left: 6px;
                    top: 4px;
                }
                &:after{
                    content: '';
                    width: 16px;
                    height: 16px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    display:block;
                    position: absolute;
                    left: 2px;
                    top: 13px;
                }
            }
        }
    }
    .header-fill{
        height: 50px;
    }
}